@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-x82wzv');
	src:url('../fonts/icomoon.eot?#iefix-x82wzv') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-x82wzv') format('truetype'),
		url('../fonts/icomoon.woff?-x82wzv') format('woff'),
		url('../fonts/icomoon.svg?-x82wzv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e600";
}
.icon-circle-right:before {
	content: "\e601";
}
.icon-circle-left:before {
	content: "\e602";
}

body {
	font-family: Roboto;
}

.scrollToTop {
	width: 75px;
	height: 25px;
	border-radius: 10px;
	display: none;
	position: fixed;
	bottom: 50px;
	right: 50px;
	background: orange;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height: 25px;
	transition: 0.4s all; 
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

header {
	width: 100%;
	position: fixed;
	padding-top: 21px;
	background-color: #fff;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
}

.adress {
	margin-bottom: 20px;
}

.adress span {
	line-height: 20px;
	letter-spacing: 0.025em;
	color: #8d8d8d;
}

.logo {
	margin-bottom: 20px;
}

.logo img {
	max-width: 100%;
}

.menu {
	margin-bottom: 20px;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
}

.menu a {
	text-decoration: none;
	font-size: 12px;
	color: #5b5b5b;
}

.menu span {
	font-family: Roboto;
	font-weight: 600;
	margin-left: 10px;
}

 {
	margin-bottom: 20px;
}

nav ul {
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li  {
	text-transform: uppercase;
	margin-bottom: 5px;
	padding: 5px 0;
	transition: 0.3s all;
	border-bottom: 1px solid #ccc;
}

nav ul li a {
	font-family: Roboto;
	text-decoration: none;
	color: #8d8d8d;
	transition: 0.3s all;
}

.selected {
	background-color: #ccc;
}

.selected a {
	color: #000;
}

nav ul li:hover, .more:hover {
	background-color: #ccc;
}

nav ul li:hover>a, .more:hover {
	color: #000;
}

.main {
	padding-top: 172px;
}

.wrapper {
	background-image: url("../img/parallax-img1.jpg");
	background-position: 50% 50%;
	background-size: cover;
	color: white;
}

.wrapper-content {
	padding: 150px 0;
}

h2 {
	margin: 0 0 32px;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-size: 60px;
	line-height: 1em;
}

.more {
	display: inline-block;
	padding: 16.5px 40px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.1em;
	background-color: #000;
	color: #fff;
	transition: 0.3s all;
}

.description {
	padding: 140px 0 144px 0;
	background-image: url("../img/box-img1.jpg");
	background-position: bottom center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.inner {
	text-align: left;
}

.inner h2 {
	font: 24px/36px 'Roboto', sans-serif;
	color: #000;
	text-transform: uppercase;
}

.inner p {
	margin: 0 0 41px 0;
	font: 18px/30px '\'Times New Roman\', Times, serif',serif;
	color: #5b5b5b;
}

.parallax {
	padding: 140px 0 144px 0;
	background-image: url("../img/parallax-img2.jpg");
	background-position: center;
	color: #fff;
}

.parallax h2, .parallax p {
	color: #fff;
}




@media only screen and (min-width:768px) {
	.menu {
		display: none;
	}

	nav ul {
		display: inline-block;
	}

	nav ul li {
		padding-right: 25px;
		display: inline-block;
		border-bottom: none;
	}

	nav ul li:last-child {
		padding-right: 0;
	}

	.selected {
		background-color: transparent;
	}

	nav ul li a {
		font-size: 14px;
	}

	nav ul li:hover {
		background-color: transparent;
	}

}

@media only screen and (min-width: 992px) {
	.scrollToTop {
		width: 100px;
		height: 50px;
		font-size: 16px;
		line-height: 50px;
		opacity: 0.5;
		transition: 0.4s all;
	}

	.scrollToTop:hover {
		opacity: 1;
	}

	.container {
		width: 100%;
	}

	.adress {
		display: inline-block;
		width: 33.33333%;
		padding: 8px 15px 0 15px;
		float: left;
		text-align: left;
		box-sizing: border-box;
	}

	.logo {
		display: inline-block;
		width: 33.33333%;
		padding: 0 15px;
		float: left;
		box-sizing: border-box;
	}

	nav {
		width: 33.33333%;
		padding: 8px 15px 0 15px;
		float: right;
		text-align: right;
		box-sizing: border-box;
	}

	nav ul li {
		padding: 0 25px 0 0;
	}

	nav ul li:last-child {
		padding-right: 0;	
	}

	.main {
		padding-top: 70px;
	}

	.wrapper {
		background-attachment: fixed;
	}

	.wrapper-content {
		padding: 368px 0 287px 0;
	}

	.description {
		background-size: auto;
	}

	.inner {
		width: 41.66667%;
		float: right;
	}

	.parallax {
	background-attachment: fixed;
	}

	.parallax .inner {
		float: left;
	}

}